# 데이터 (용량 큰 이미지)
data/chest_xray/
*.jpg
*.jpeg
*.png
*.dcm

# 모델 가중치
outputs/models/*.pth
outputs/models/*.pt

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# 환경
.env
venv/
.venv/

# Kaggle 인증
kaggle.json
*.json

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
